# Build results
# bin/git 
# obj/
**/bin/
**/obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json

# Logs
*.log

# Publish output
publish/
wwwroot/lib/

# Rider / JetBrains
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
